@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+SA:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Vinyl&family=Sankofa+Display&display=swap");

* {
  font-family: "Poppins", serif;
  padding: 0px;
  margin: 0px;
}

.main {
  background-image: url("assets/images/bg_files/bg1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1400px 100vw);
  height: 70vh;
  position: static;
}

.main .box {
  height: 70vh;
  width: 100%;
  opacity: 0.54;
  position: absolute;
  background-position: center center;
  top: 0;
  background-color: rgb(5, 5, 5);
}

.firstImg {
  filter: invert(21%) sepia(96%) saturate(7423%) hue-rotate(360deg);
  /* If your SVG is used as an <img> tag, CSS fill won’t work. Instead, use the filter property: */
  width: 130px;
  position: relative;
  z-index: 10;
}

nav {
  max-width: 62vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 62px;
}

nav button {
  position: relative;
  z-index: 10;
}

body {
  background-color: black;
}

.hero {
  font-size: 0px;
  font-weight: 100;
  font-style: normal;
  height: translateY(calc(100%-55px));
  display: flex;
  gap: 0 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: white;
  position: relative;
  padding: 0 23px;
}

span {
  font-size: 20px;
  font-weight: bold;
  gap: 20px;
}

/* This arow means immediate first child */
.hero > :nth-child(1) {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}

.hero > :nth-child(4) {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.hero > :nth-child(5) {
  font-weight: 200;
  font-size: 12px;
  text-align: center;
}
.sepration {
  height: 6px;
  background-color: rgb(75, 73, 73);
}

.btn {
  padding: 3px 24px;
  color: white;
  background-color: rgb(10, 10, 10);
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 400;
}

.btn-red-sm {
  background-color: red;
  padding: 4px 9px;
  text-align: 5ox;
}

.btn-red {
  background-color: red;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 400;
  padding: 9px 34px;
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.main input {
  border-radius: 4px;
  font-size: 12px;
  padding: 9px 34px;
  color: white;
  background-color: rgba(11, 11, 11, 0.4);
  /*  background-color:rgba(23, 23, 23, 0.2)  is use for background color transparent */
  border: 1px solid rgba(202, 8, 8, 0.7);
}
.first-two {
  color: white;
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  align-items: center;
}
.first-three {
  color: white;
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  align-items: center;
}
.first-four {
  color: white;
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  align-items: center;
}
.first-five {
  color: white;
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  align-items: center;
}
.first {
  color: white;
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  align-items: center;
  flex-wrap:wrap;
}
@media screen and (max-width:500px) {
  body{
    background-color:red;
}
.first{
  flex-wrap:wrap;
}
.secImg img{
  overflow: hidden;
}
}
.secImg img {
  width: 27vw;
position:relative;
  align-items: center;
  justify-content:start ;
  left: 30px;

}
.secImg video {
  align-items: 98px;
  justify-content: flex-end;
  position: relative;
  top: -313px;
  left: 79px;
  width: 310px;
  height: 196px;
}
section.first > div {
  display: flex;
  flex-direction: column;
}
.first > div :first-child {
  font-size: 48px;
}
.first > div :nth-child(2) {
  font-size: 20px;
}
section.first-two > div {
  display: flex;
  flex-direction: column;
}
.first-two > div :first-child {
  font-size: 48px;
}
.first-two > div :nth-child(2) {
  font-size: 20px;
}
section.first-three > div {
  display: flex;
  flex-direction: column;
}
.first-three > div :first-child {
  font-size: 48px;
}
.first-three > div :nth-child(2) {
  font-size: 20px;
}
section.first-four > div {
  display: flex;
  flex-direction: column;
}
.first-four > div :first-child {
  font-size: 48px;
}
.first-four > div :nth-child(2) {
  font-size: 20px;
}
section.first-five > div {
  display: flex;
  flex-direction: column;
}
.first-five > div :first-child {
  font-size: 48px;
}
.first-five > div :nth-child(2) {
  font-size: 20px;
}
.faq h2{
  font-size: 38px;
  text-align: center;
}
.faq{
  font-size:24px;
  background:black;
  color:white;
  justify-items: center;
  padding: 34px;
}
.faqbox {
  display: flex;
  background-color: rgb(66, 62, 62);
  color:white;
  padding: 34px;
  margin:24px auto;
  justify-content:space-between;
  width:60vw;
  cursor: pointer;
}
.faqbox:hover{
  background-color: rgb(85, 80, 80)
}
.faqbox svg{
  filter: invert();
  /* filter:invert() is use to changing the color of svg from black to white  */
}
footer{
  color:white;
  max-width:60vw;
  margin:auto;

}
.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color:white;
  padding:23px;
} 
.footer-items{
  display:flex;
  flex-direction:column;
  gap:18px;
}
footer .questions{
  color:white;
  margin:2px 5vw;
  display:flex;
  padding:3px 0;
}
.Questions{
  padding:22px 5px;
}
.footer a{
  text-decoration: none;
  color:white;
}